div.page {
  width: 100%;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  justify-content: space-between; }

@media only screen and (min-width: 1200px) {
  header {
    width: 100vw; }
    header nav.topnav {
      width: 75vw;
      margin-right: 12.5vw;
      margin-left: 12.5vw; }
      header nav.topnav li {
        display: inline; }
        header nav.topnav li a {
          display: inline-block;
          vertical-align: center; }

  footer {
    order: 3;
    width: 100vw;
    padding: 25px 0;
    display: flex;
    flex-direction: column; }
    footer nav.footnav {
      margin: 25px 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      footer nav.footnav div.social div.links {
        display: flex;
        flex-direction: row;
        align-items: space-around; }
        footer nav.footnav div.social div.links a {
          width: 25%;
          margin: 0 25px; }

  section.main-content {
    width: 75vw;
    margin: 5vh 12.5vw;
    max-width: 1140px;
    order: 2; }
    div.home section.main-content > div {
      padding: 50px 0;
      display: flex;
      flex-direction: column; }
      div.home section.main-content > div.slogan {
        width: 100%;
        max-width: 33%;
        padding: 100px 0;
        margin: 0 33%; }
        div.home section.main-content > div.slogan h2 {
          font-size: 20pt; }
      div.home section.main-content > div.presentation {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center; }
        div.home section.main-content > div.presentation > img, div.home section.main-content > div.presentation div.pres {
          width: 50%; }
      div.home section.main-content > div.team {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: space-around; }
        div.home section.main-content > div.team div.member {
          display: flex;
          flex-direction: column;
          align-items: center;
          align-content: space-between; }
      div.home section.main-content > div.potions {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center; }
        div.home section.main-content > div.potions h1.pelem {
          width: 40%; }
        div.home section.main-content > div.potions img.pelem {
          display: block;
          max-width: 60%;
          height: auto; }
        div.home section.main-content > div.potions a.pelem {
          width: 50%;
          float: right; }
        div.home section.main-content > div.potions p.pelem {
          width: 50%; }
    div.potions section.main-content > div {
      padding: 50px 0; }
      div.potions section.main-content > div.title {
        display: flex;
        flex-direction: column;
        align-items: center; }
        div.potions section.main-content > div.title h1 {
          align-self: flex-start; }
        div.potions section.main-content > div.title img {
          width: 100%; }
      div.potions section.main-content > div.potion {
        display: flex; }
        div.potions section.main-content > div.potion:nth-child(2n) {
          flex-direction: row; }
          div.potions section.main-content > div.potion:nth-child(2n) .img img {
            float: right; }
          div.potions section.main-content > div.potion:nth-child(2n) .desc {
            text-align: left; }
            div.potions section.main-content > div.potion:nth-child(2n) .desc .commande {
              flex-direction: row;
              justify-content: space-between; }
              div.potions section.main-content > div.potion:nth-child(2n) .desc .commande .prix {
                text-align: right;
                float: right; }
        div.potions section.main-content > div.potion:nth-child(2n+1) {
          flex-direction: row-reverse; }
          div.potions section.main-content > div.potion:nth-child(2n+1) .img img {
            float: left; }
          div.potions section.main-content > div.potion:nth-child(2n+1) .desc {
            text-align: right; }
            div.potions section.main-content > div.potion:nth-child(2n+1) .desc .commande {
              flex-direction: row-reverse;
              justify-content: space-between; }
              div.potions section.main-content > div.potion:nth-child(2n+1) .desc .commande .prix {
                text-align: left;
                float: left; }
        div.potions section.main-content > div.potion img {
          max-height: 500px; }
        div.potions section.main-content > div.potion div.desc div.commande {
          display: flex; }
          div.potions section.main-content > div.potion div.desc div.commande div.cmd {
            display: flex;
            flex-direction: row;
            align-items: space-between; }
            div.potions section.main-content > div.potion div.desc div.commande div.cmd div.prix {
              display: flex;
              flex-direction: column; }
    div.commande section.main-content {
      display: flex;
      flex-direction: column;
      align-items: center; }
      div.commande section.main-content div.choix-produit {
        display: flex;
        align-items: center; }
        div.commande section.main-content div.choix-produit img {
          width: 50%; }
        div.commande section.main-content div.choix-produit form.form-choix {
          display: flex;
          flex-direction: column;
          width: 50%; }
          div.commande section.main-content div.choix-produit form.form-choix div.choix {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%; }
            div.commande section.main-content div.choix-produit form.form-choix div.choix input.check {
              width: 10%; }
            div.commande section.main-content div.choix-produit form.form-choix div.choix h2.titre {
              width: 30%; }
            div.commande section.main-content div.choix-produit form.form-choix div.choix span.separator {
              width: 40%; }
            div.commande section.main-content div.choix-produit form.form-choix div.choix div.prix {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              width: 20%; }
              div.commande section.main-content div.choix-produit form.form-choix div.choix div.prix h1, div.commande section.main-content div.choix-produit form.form-choix div.choix div.prix p {
                margin: 0; }
              div.commande section.main-content div.choix-produit form.form-choix div.choix div.prix p {
                margin-top: -10px; }
          div.commande section.main-content div.choix-produit form.form-choix input.ok {
            align-self: flex-end; }
      div.commande section.main-content div.panier {
        display: flex;
        flex-direction: column;
        width: 75%; }
        div.commande section.main-content div.panier div.fiche-produit-panier {
          display: flex;
          justify-content: space-around;
          align-items: center; }
          div.commande section.main-content div.panier div.fiche-produit-panier div.prix {
            display: flex;
            justify-content: center;
            align-items: center; }
            div.commande section.main-content div.panier div.fiche-produit-panier div.prix h1, div.commande section.main-content div.panier div.fiche-produit-panier div.prix p {
              margin: 0 5px; }
      div.commande section.main-content div.user-info {
        width: 90%; }
        div.commande section.main-content div.user-info form {
          display: flex;
          flex-direction: column; }
          div.commande section.main-content div.user-info form div.text {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between; }
            div.commande section.main-content div.user-info form div.text input {
              width: 100%; }
            div.commande section.main-content div.user-info form div.text input:nth-child(2), div.commande section.main-content div.user-info form div.text input:nth-child(3) {
              width: 45%; }
          div.commande section.main-content div.user-info form input.ok {
            align-self: flex-end;
            float: right;
            width: auto !important; }
    div.livreor section.main-content {
      margin: 0 10%;
      padding: 25px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch; }
      div.livreor section.main-content form textarea {
        width: 100%;
        height: 200px;
        resize: none;
        padding: 25px;
        margin: 25px 0; }
      div.livreor section.main-content form input {
        padding: 20px 50px;
        float: right; }
      div.livreor section.main-content .commentaires {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch; }
        div.livreor section.main-content .commentaires .commentaire {
          padding: 5px 0 10px; }
    div.connexion section.main-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto; }
      div.connexion section.main-content form.connexion {
        display: flex;
        flex-direction: column;
        align-items: center; }
        div.connexion section.main-content form.connexion div.links {
          display: flex;
          justify-content: space-between; }
        div.connexion section.main-content form.connexion input.btn {
          align-self: flex-end; }
    div.inscription section.main-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto; }
      div.inscription section.main-content form.inscription {
        display: flex;
        flex-direction: column;
        align-items: center; }
        div.inscription section.main-content form.inscription div.form {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center; }
          div.inscription section.main-content form.inscription div.form div.part1, div.inscription section.main-content form.inscription div.form div.part2 {
            display: flex;
            flex-direction: column;
            width: 30%; }
            div.inscription section.main-content form.inscription div.form div.part1 input.form-txt, div.inscription section.main-content form.inscription div.form div.part2 input.form-txt {
              width: 100%; }
        div.inscription section.main-content form.inscription div.submit {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;
          width: 50%;
          margin: 0 12.5%;
          align-self: flex-end; }
          div.inscription section.main-content form.inscription div.submit p, div.inscription section.main-content form.inscription div.submit div.alert, div.inscription section.main-content form.inscription div.submit div.links {
            width: 100%;
            text-align: right; }
          div.inscription section.main-content form.inscription div.submit div.links {
            display: flex;
            justify-content: space-between;
            align-items: center; } }
div.home div.loader {
  position: fixed;
  z-index: 9999;
  background: white;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%; }
  div.home div.loader img {
    height: 30vh;
    margin: 30vh 25vw; }
