body {
  background-color: lightgrey; }

.container-fluid {
  background-color: white; }

h1,
h2,
h3,
h4,
h5,
h6,
legend {
  font-family: Butler;
  font-weight: 300; }

.btn-potion {
  color: #fff;
  background-color: #732abc;
  border-color: #732abc; }
  .btn-potion:hover {
    color: #fff;
    background-color: #591cac;
    border-color: #732abc; }
  .btn-potion:focus, .btn-potion.focus {
    box-shadow: 0 0 0 0.2rem rgba(133, 85, 216, 0.5); }
  .btn-potion.disabled, .btn-potion:disabled {
    color: #fff;
    background-color: #732abc;
    border-color: #732abc; }
  .btn-potion:not(:disabled):not(.disabled):active, .btn-potion:not(:disabled):not(.disabled).active, .show > .btn-potion.dropdown-toggle {
    color: #fff;
    background-color: #732abc;
    border-color: #591cac; }
  .btn-potion:not(:disabled):not(.disabled):active:focus, .btn-potion:not(:disabled):not(.disabled).active:focus, .show > .btn-potion.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(133, 85, 216, 0.5); }

nav.topnav {
  position: relative;
  background-color: white;
  color: black;
  overflow: hidden; }
  nav.topnav a {
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none; }
    nav.topnav a:hover {
      background-color: #732abc;
      color: white; }
  nav.topnav .topnav-left a {
    float: left; }
  nav.topnav .topnav-center a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    nav.topnav .topnav-center a:hover {
      background-color: white; }
  nav.topnav .topnav-right a {
    float: right; }

nav.footnav {
  position: relative;
  background-color: white;
  color: black;
  overflow: hidden; }
  nav.footnav span {
    float: left;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none; }
  nav.footnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none; }
    nav.footnav a:hover {
      color: darkgrey; }
  nav.footnav .footnav-right a {
    float: right; }
