@import 'utilities';
@import 'responsive';
@import 'animations';


body {
    //background-color: lightgrey;
    margin: 0;
    font-family: HelveticaNeue, sans-serif;
    font-weight: 500;
}

h1 {
    margin: 0;
    font-family: Butler, serif;
    font-weight: 800;
}

a {
    color: $color4;
    font-style: italic;
    text-decoration: underline dotted;

    &:hover {
        color: $color2;
    }
}


header {
    & nav.topnav.computer {
        color: black;
        list-style: none;
        text-align: center;

        & li {
            & a {
                vertical-align: middle;
                color: black;
                text-align: center;
                margin: 15px 10px;
                padding: 10px 15px;
                text-decoration: none;

                &:hover {
                    color: $color4;
                }

                &#logo {
                    &:hover {
                        background-color: white;
                    }
                }
            }
        }
    }
}

footer {
    position: relative;
    bottom: 0;
    background-color: $color4;
    color: white;

    & nav.footnav {
        &>div {

            & h2,
            & p {
                text-align: center;
            }

            &.social {
                & div.links {
                    font-size: 30px;
                    text-align: center;

                    & a {
                        color: white;
                    }
                }
            }
        }
    }

    & p.copyright {
        text-align: center;
    }
}

section.main-content {

    div.home & {
        & h1 {
            text-transform: uppercase;
        }

        &>div {

            & p {
                text-align: justify;
            }

            &.slogan {
                & img {
                    @include outline;
                    display: inline-block;
                    padding: 15px;
                    z-index: 2;
                }

                & h2 {
                    display: inline-block;
                    background-color: $color4;
                    color: white;
                    font-family: HelveticaNeue, sans-serif;
                    padding: 25px;
                    z-index: 1;
                }
            }

            &.presentation {
                & img {}

                & div.pres {
                    padding: 25px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    & h1 {
                        color: $color4;
                        transform: translateX(-100px);
                    }
                }
            }

            &.team {
                & div.member {
                    margin: 0 25px;

                    & img,
                    & p {
                        margin: 25px 0;
                    }
                }

                & img.user {
                    width: auto;
                }

                & p {
                    text-align: center;
                }
            }

            &.potions {

                & h1 {
                    text-transform: none;
                    color: $color4;
                }

                & h2 {
                    display: inline-block;
                    @include button;
                }
            }
        }
    }

    div.potions & {

        & div.title {
            & h1 {
                color: $color4;
                position: absolute;
                text-transform: uppercase;
                margin: 0 10%;
            }

            & img {}
        }

        & div.potion {

            & div.img {
                & img {
                    padding: 0;
                    max-height: 500px;
                }
            }

            & .desc {
                vertical-align: middle;
                padding: 25px;

                & .nom {
                    color: $color4;
                    font-size: 60px;
                }

                & .sub {
                    font-weight: bold;
                }

                & .warning {
                    font-size: 10pt;
                    color: $color4;
                }

                & .cmd h2 {
                    display: inline-block;
                    @include button;
                }

                & div.prix {
                    display: inline-block;
                    color: $color4;
                }
            }
        }
    }

    div.commande & {

        & h2.error {
            text-align: center;
        }

        & div.choix-produit {

            & img {}

            & form.form-choix {

                & div.choix {

                    & label.checkbox {
                        & input.check {}

                        & span.checkmark {}
                    }

                    & h2.titre {
                        font-family: Butler, serif;
                        font-weight: 800;
                    }

                    & span.separator {
                        height: 0;
                        border: solid 1px $color4;
                    }

                    & div.prix {

                        & h1,
                        & p {}

                        & p {
                            font-size: 10pt;
                        }
                    }
                }

                & input.ok {
                    @include button;
                    margin: 25px 0;
                }
            }
        }

        & div.panier {
            & div.fiche-produit-panier {
                & h1.titre {
                    font-family: HelveticaNeue, sans-serif;
                    font-weight: 400;
                }

                & div.prix {
                    & h1 {
                        font-family: HelveticaNeue, sans-serif;
                        font-weight: 600;
                    }
                }

                & form.delete {
                    & button {
                        border: 0;
                        background-color: white;

                        & i {
                            color: $color4;
                            font-size: 22pt;
                        }
                    }
                }
            }
        }

        & div.user-info {
            & form {
                & div.text {
                    & input {
                        @include outline;
                        border-width: 3px;
                        padding: 10px 15px;
                        margin: 10px 0;

                        color: black;
                        font-style: italic;
                    }
                }

                & input.ok {
                    @include button;
                    margin: 25px 0;
                }
            }
        }
    }

    div.livreor & {
        & div.form {
            & form {
                & h1 {
                    color: $color4;
                    position: absolute;
                }

                & textarea {
                    @include outline;
                    transform: translateZ(10px);
                    font-family: HelveticaNeue, sans-serif;
                    font-weight: 500;
                    font-size: 18px;
                }

                & input {
                    @include button;
                    border: none;
                }
            }
        }

        & .commentaires {
            & .commentaire {
                border-bottom: solid 3px $color4;

                & h1 {
                    font-family: HelveticaNeue, sans-serif;
                    font-weight: 500;
                    font-style: italic;
                    font-size: 20px;
                    color: $color4;
                }
            }
        }
    }

    div.connexion & {
        & form.connexion {
            & input.text {
                @include form-txt;
                width: 100%;
                margin-top: 25px;
            }

            & div.links {
                width: 100%;
                margin-top: 10px;
            }

            input.btn {
                @include button;
                margin: 25px 0;
            }
        }

        & p.error {
            color: $color2;
            text-align: center;
        }
    }

    div.inscription & {
        margin-bottom: 100px;

        & form.inscription {
            & div.form {

                & div.part1,
                & div.part2 {
                    & input.form-txt {
                        @include form-txt;
                        margin-top: 25px;
                    }

                    & span.help-block {
                        font-size: 11pt;
                        color: $color2;
                    }
                }
            }

            & div.submit {
                & button.btn {
                    @include button;
                    margin: 25px 0;
                }
            }
        }
    }
}