// Couleurs et règles de mise en forme récurrentes
@import 'utilities';
// Règles de positionnement + responsive
@import 'responsive';
// Import de l'animation
@import 'animations';


// Typo par défaut
body {
    margin: 0;
    font-family: HelveticaNeue, sans-serif;
    font-weight: 500;
}

// Typo des titres
h1 {
    margin: 0;
    font-family: Butler, serif;
    font-weight: 800;
}

// Mise en forme des liens
a {
    color: $color4;
    font-style: italic;
    text-decoration: underline dotted;

    &:hover {
        color: $color2;
    }
}


// Barre de navigation supérieure (header)
header {

    // Menu latéral
    & .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        background-color: $color4;
        background-color: $color4;
        overflow-x: hidden;
        transition: 0.5s;

        & .closebtn {
            position: absolute;
            top: 20px;
            right: 45px;
            font-size: 48pt;
        }

        & a {
            padding: 8px;
            text-decoration: none;
            font-family: Butler, serif;
            font-weight: 800;
            font-style: normal;
            font-size: 48pt;
            color: white;
            display: block;
            transition: 0.3s;


            &:hover,
            &:focus {
                color: $color2;
            }
        }

        .overlay-content {
            position: relative;
            top: 20%;
            width: 100%;
            text-align: center;
            margin-top: 30px;
        }
    }

    & nav.topnav {

        // Navbar PC
        &.computer {
            color: black;
            list-style: none;
            text-align: center;

            & li {
                & a {
                    vertical-align: middle;
                    color: black;
                    text-align: center;
                    margin: 15px 10px;
                    padding: 10px 15px;
                    text-decoration: none;

                    &:hover {
                        color: $color4;
                    }
                }
            }
        }

        // Navbar mobile & tablette
        &.mobile {

            & span {
                margin: 15px;
                padding: 15px;

                & i {
                    vertical-align: middle;
                    color: black;
                    text-align: center;
                    text-decoration: none;

                    &:hover {
                        color: $color4;
                    }
                }
            }
        }
    }
}

// Barre de navigation inférieure (footer)
footer {
    position: relative;
    bottom: 0;
    background-color: $color4;
    color: white;

    & nav.footnav {
        &>div {

            & h2,
            & p {
                text-align: center;
            }

            &.social {
                & div.links {
                    font-size: 30px;
                    text-align: center;

                    & a {
                        color: white;
                    }
                }
            }
        }
    }

    & p.copyright {
        text-align: center;
    }
}

// Corps de la page
section.main-content {

    // Page d'accueil
    div.home & {
        & h1 {
            text-transform: uppercase;
        }

        &>div {
            & p {
                text-align: justify;
            }

            // Section slogan + logo animé
            &.slogan {
                & svg {
                    @include outline;
                    display: inline-block;
                    padding: 5px 10px;
                    z-index: 2;
                }

                & h2 {
                    display: inline-block;
                    background-color: $color4;
                    color: white;
                    font-family: HelveticaNeue, sans-serif;
                    padding: 25px;
                    z-index: 1;
                }
            }

            // Section présentation du site
            &.presentation {
                & img {}

                & div.pres {
                    padding: 25px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    & h1 {
                        color: $color4;
                        transform: translateX(-100px);
                    }
                }
            }

            // Section présentation de l'équipe
            &.team {

                // Un élément pour chaque membre de l'équipe
                & div.member {
                    margin: 0 25px;

                    & img,
                    & p {
                        margin: 25px 0;
                    }

                    & img.user {
                        width: auto;
                    }

                    & p {
                        text-align: center;
                    }
                }
            }

            // Section introduction + lien vers produits
            &.potions {

                & h1 {
                    text-transform: none;
                    color: $color4;
                }

                & h2 {
                    display: inline-block;
                    @include button;
                }
            }
        }
    }

    // Page produits
    div.potions & {

        // Titre + image
        & div.title {
            & h1 {
                color: $color4;
                position: absolute;
                text-transform: uppercase;
                margin: 0 10%;
            }

            & img {}
        }

        // Un élément pour chaque potion
        // NB : un élément sur deux a l'image et la desc inversés (cf responsive.scss)
        & div.potion {

            // Image de la potion
            & div.img {
                & img {
                    padding: 0;
                    max-height: 500px;
                }
            }

            // Description de la potion (nom, desc, prix)
            & .desc {
                vertical-align: middle;
                padding: 25px;

                & .nom {
                    color: $color4;
                    font-size: 60px;
                }

                & .sub {
                    font-weight: bold;
                }

                & .warning {
                    font-size: 10pt;
                    color: $color4;
                }

                & .cmd h2 {
                    display: inline-block;
                    @include button;
                }

                & div.prix {
                    display: inline-block;
                    color: $color4;
                }
            }
        }
    }

    // Page de commande
    div.commande & {

        // Message d'erreur si non-connecté
        & h2.error {
            text-align: center;
        }

        // Section sélection des produits
        & div.choix-produit {

            & img {}

            & form.form-choix {

                // Un élément pour chaque potion disponible
                & div.choix {

                    // Nom de la potion
                    & h2.titre {
                        font-family: Butler, serif;
                        font-weight: 800;
                    }

                    // Ligne de séparation
                    & span.separator {
                        height: 0;
                        border: solid 1px $color4;
                    }

                    // Prix de la potion
                    & div.prix {

                        & h1,
                        & p {}

                        & p {
                            font-size: 10pt;
                        }
                    }
                }

                // Bouton de confirmation de sélection
                & input.ok {
                    @include button;
                    margin: 25px 0;
                }
            }
        }

        // Section produits sélectionnés
        & div.panier {

            // Un élément pour chaque produit sélectionné dans le panier
            & div.fiche-produit-panier {

                // Nom du produit
                & h1.titre {
                    font-family: HelveticaNeue, sans-serif;
                    font-weight: 400;
                }

                // Prix du produit
                & div.prix {
                    & h1 {
                        font-family: HelveticaNeue, sans-serif;
                        font-weight: 600;
                    }
                }

                // Bouton pour supprimer le produit du panier
                & div.delete {
                    text-align: center;

                    & a.liensuppression {
                        border: 0;
                        background-color: white;
                        color: $color4;
                        font-size: 22pt;

                        &:hover,
                        &:focus {
                            color: $color2;
                        }
                    }
                }
            }
        }

        // Section renseignements utilisateur
        & div.user-info {
            & form {

                // Champs du formulaire
                & div.text {
                    & input {
                        @include outline;
                        border-width: 3px;
                        padding: 10px 15px;
                        margin: 10px 0;

                        color: black;
                        font-style: italic;
                    }
                }

                // Bouton de confirmation de commande
                & input.ok {
                    @include button;
                    margin: 25px 0;
                }
            }
        }
    }

    // Page livre d'or
    div.livreor & {

        // Section rédaction du commentaire
        & div.form {
            & form {
                & h1 {
                    color: $color4;
                    position: absolute;
                }

                & textarea {
                    @include outline;
                    transform: translateZ(10px);
                    font-family: HelveticaNeue, sans-serif;
                    font-weight: 500;
                    font-size: 18px;
                }

                & input {
                    @include button;
                    border: none;
                }
            }
        }

        // Section commentaires des utilisateurs
        & .commentaires {

            // Un élément pour chaque commentaire
            & .commentaire {
                border-bottom: solid 3px $color4;

                & h1 {
                    font-family: HelveticaNeue, sans-serif;
                    font-weight: 500;
                    font-style: italic;
                    font-size: 20px;
                    color: $color4;
                }
            }
        }
    }

    // Page de connexion
    div.connexion & {

        // Formulaire de connexion
        & form.connexion {

            // Champs du formulaire
            & input.text {
                @include form-txt;
                width: 100%;
                margin-top: 25px;
            }

            // Liens mdp oublié + inscription
            & div.links {
                width: 100%;
                margin-top: 10px;
            }

            // Bouton de confirmation
            & input.btn {
                @include button;
                margin: 25px 0;
            }
        }

        // Message d'erreur/d'information
        & p.error {
            color: $color2;
            text-align: center;
        }
    }

    // Page d'inscription
    div.inscription & {
        margin-bottom: 100px;

        & form.inscription {

            // Formulaire d'inscription
            & div.form {

                // Colonnes de champs du formulaire
                & div.part1,
                & div.part2 {

                    // Champs du formulaire
                    & input.form-txt {
                        @include form-txt;
                        margin-top: 25px;
                    }

                    // Messages d'erreur (email incorrect, mdp trop court)
                    & span.help-block {
                        font-size: 11pt;
                        color: $color2;
                    }
                }
            }

            // Bouton + "En vous inscrivant, vous acceptez ..."
            & div.submit {

                // Bouton de confirmation
                & button.btn {
                    @include button;
                    margin: 25px 0;
                }
            }
        }
    }
}